#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define NUMBER 1
#define SYMBOL 2
#define SETTINGS 3
#define LOCK 4
 
    keymap {
        compatible = "zmk,keymap";

        /* default_layer
        ** ESC  Q     W     E     R     T     Y     U     I     O     P   BKSP
        ** TAB   A     S     D     F     G     H     J     K     L        RTN
        ** SHFT   Z     X     C     V     B     N     M     <,    >.      RSFT
        ** CTRL   SPEC    ALT     LT(1)  Space   LT(2)   LF    DN    UP   RT
        */

        default_layer {
            bindings = <
            &kp ESC    &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I  &kp O  &kp P  &kp BSPC 
            &kp TAB    &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K  &kp L  &kp RET
            &kp LSHFT  &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA  &kp DOT  &kp RSHFT
            &kp LCTRL  &kp LGUI  &kp LALT  &kp (lower)  &kp SPACE  &kp (upper)  &kp LEFT  &kp DOWN  &kp UP &kp RIGHT
            >;
        };

        /* Layer 1 (Lower / left bumper)
        ** ESC  !     @     #     $     %     ^     &     *     (     )   BKSP
        ** TAB   F1    F2    F3    NONE  NONE  {     }     _     +        "
        ** SHFT   F4    F5    F6    NONE  NONE  :     |     Home  End     ?
        ** CTRL   SPEC    ALT     LT(1)  Space   LT(2)   LF    DN    UP   RT
        */

        number_layer {
            bindings = <
            &kp ESC    &kp EXCL  &kp AT  &kp N3  &kp N4  &kp N5  &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &kp BSPC 
            &kp TAB    &kp F1  &kp F2  &kp F3  &none   &none   &kp H  &kp J  &kp K  &kp L  &kp RET
            &kp LSHFT  &kp F4  &kp F5  &kp F6  &none   &none   &kp N  &kp M  &kp COMMA  &kp DOT  &kp RSHFT
            &kp LCTRL  &kp LGUI  &kp LALT  &kp (lower)  &kp SPACE  &kp (upper)  &kp LEFT  &kp DOWN  &kp UP &kp RIGHT
            >;
        }; 

        /* Layer 2 (Upper / right bumper)
        ** ESC  1     2     3     4     5     6     7     8     9     0   BKSP
        ** TAB   F7    F8    F9    NONE  NONE  [     ]     -     =        '
        ** SHFT   F10   F11   F12   NONE  NONE  ;     |    PGDN   PGUP    /
        ** CTRL   SPEC    ALT     LT(1)  Space   LT(2)   LF    DN    UP   RT
        */

        symbol_layer {
            bindings = <
            &kp ESC    &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I  &kp O  &kp P  &kp BSPC 
            &kp TAB    &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K  &kp L  &kp RET
            &kp LSHFT  &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA  &kp DOT  &kp RSHFT
            &kp LCTRL  &kp LGUI  &kp LALT  &kp (lower)  &kp SPACE  &kp (upper)  &kp LEFT  &kp DOWN  &kp UP &kp RIGHT
            >;
        }; 

        /* Layer 3 (Settings / double bumper)
        ** ESC  NONE  NONE  NONE  BOOT NONE  NONE  NONE  NONE  NONE  NONE   BT_CLR   
        ** TAB   NONE  NONE  NONE  NONE  NONE  NONE  VOLD  PAUSE VOLU       RTN
        ** SHFT   NONE  NONE  NONE  NONE  NONE  NONE  NONE  NONE   NONE     RSFT
        ** CTRL    SPEC     ALT     LT(1)  Space   LT(2)   NONE  NONE  NONE NONE
        */

        settings_layer {
            bindings = <
                            &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
                            &none        &none        &none        &none        &none 
                            &kp P        &none        &none        &none        &none 
                &bootloader &none                     &none                     &none        &bt BT_CLR
            >;
            bindings = <
            &kp ESC    &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I  &kp O  &kp P  &kp BSPC 
            &kp TAB    &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K  &kp L  &kp RET
            &kp LSHFT  &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA  &kp DOT  &kp RSHFT
            &kp LCTRL  &kp LGUI  &kp LALT  &kp (lower)  &kp SPACE  &kp (upper)  &kp LEFT  &kp DOWN  &kp UP &kp RIGHT
            >;
        };

        lock_layer {
            bindings = <
                      &none &none &none &none &none 
                      &none &none &none &none &none 
                      &none &none &none &none &none 
                &none &none       &none       &none       &none
            >;
        };
    };
};
